<html>
<head>
    <meta charset="utf-8">
    <title>Add New Event</title>
    <style type="text/css">
        body {
            width: 800px;
            margin: auto;
        }
    </style>
</head>
<body>
<header>
    <h1>Add a New Event</h1>
</header>
<main>
    <form action="/events/save" method="post">

        <label for="name">Event Name:</label>
        <input type="text" id="name" name="name" placeholder="Enter event name" th:value="${event?.name}" required><br><br>


        <label for="description">Description:</label>
        <textarea id="description" name="description" placeholder="Enter event description" required th:text="${event?.description}"></textarea><br><br>


        <label for="popularityScore">Rating:</label>
        <input type="number" id="popularityScore" name="popularityScore" min="0" max="5" step="0.1" placeholder="Enter rating" th:value="${event?.popularityScore}" required><br><br>


        <label for="location">Location:</label>
        <select id="location" name="locationId" required>
            <option value="" disabled selected>Select a location</option>
            <option th:each="location : ${locations}" th:value="${location.id}" th:text="${location.name}"></option>
        </select><br><br>


        <input type="submit" value="Save Event"><br><br>
    </form>

    <a href="/events">Back to Events</a>
</main>
</body>
</html>
