<html>
<head>
    <meta charset="utf-8">
    <title>Edit Event</title>
</head>
<body>
<h1>Edit Event</h1>

<form th:action="@{'/editEvent/{eventId}'(eventId=${event.id})}" method="post">

    <label for="name">Event Name:</label>
    <input type="text" id="name" name="name" th:value="${event.name}" /><br><br>


    <label for="description">Description:</label>
    <input type="text" id="description" name="description" th:value="${event.description}" /><br><br>


    <label for="popularityScore">Popularity Score:</label>
    <input type="number" id="popularityScore" name="popularityScore" th:value="${event.popularityScore}" step="0.1" min="0" max="5" /><br><br>


    <input type="submit" value="Save Changes" />
</form>

</body>
</html>