<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Event Booking page - Welcome and choose an Event</title>
    <style type="text/css">
        body {
            width: 800px;
            margin: auto;
        }
        header {
            text-align: right;
        }
        .nav-item {
            display: inline-block;
        }
    </style>
</head>
<body>
<header>
    <h1>Welcome to our Event Booking App</h1>
    <div>

        <ul>
            <li class="nav-item" sec:authorize="isAuthenticated()">
                <a class="btn btn-light btn-sm ml-3" href="/logout">
                    <i class="fa-solid fa-right-from-bracket"></i> Logout
                </a>
            </li>
            <li class="nav-item" sec:authorize="isAnonymous()">
                <a class="btn btn-light btn-sm ml-3" href="/login">
                    <i class="fa-solid fa-right-to-bracket"></i> Login
                </a>
            </li>
        </ul>
    </div>
</header>

<main>

    <th:block sec:authorize="hasRole('ADMIN')">
        <a href="/events/add">
            <button type="button">Add New Event</button>
        </a>
    </th:block>

    <h2>Choose an event:</h2>


    <form method="get" action="/events">
        <label for="searchText">Search by name or description:</label>
        <input type="text" name="searchText" id="searchText" placeholder="Enter search text"><br><br>

        <label for="minRating">Minimum rating:</label>
        <input type="number" name="minRating" id="minRating" min="0" max="5" step="0.1" placeholder="Enter min rating"><br><br>

        <input type="submit" value="Search">
    </form>


    <form method="post" action="/eventBooking">
        <div th:each="event : ${events}">
            <input type="radio" name="eventName" th:value="${event.name}" th:text="'Name: ' + ${event.name} + ', Description: ' + ${event.description} + ', Rating: ' + ${event.popularityScore}+ ', Location: '+${event.location.name}"></input>
            <br>

            <div>

                <th:block sec:authorize="hasRole('ADMIN')">
                    <a th:href="@{/events/edit/{eventId}(eventId=${event.id})}">
                        <button type="button">Edit</button>
                    </a>

                    <a th:href="@{/deleteEvent/{eventId}(eventId=${event.id})}">
                        <button type="button">Delete</button>
                    </a>
                </th:block>
            </div>

            <br>
        </div>
        <h2>Choose number of tickets:</h2>
        <input type="number" name="numTickets" min="1" max="10"><br/>
        <br/>
        <input type="submit" value="Submit">
    </form>
</main>
</body>
</html>
